.login-container {
  background-color: #4eac6d;

  .img {
    .login-img {
      width: -webkit-fill-available;
      width: -moz-available;
    }
  }

  .login-sub-container {
    background-color: #ffffff;

    .login-form-input {
      border: 1px solid grey;
    }

    .login-form-input:focus {
      border: 1px solid grey;
      outline: none;
    }

    .login-btn {
      background-color: #4eac6d;
    }

    .signup-text {
      color: #4eac6d;
    }
  }
}

@media only screen and (max-width: 980px) {
  .img {
    display: none;
  }
}
